<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('<%= image_path 'https://upload.wikimedia.org/wikipedia/commons/thumb/1/11/Melbourne_Skyline_and_Princes_Bridge_-_Dec_2008.jpg/1200px-Melbourne_Skyline_and_Princes_Bridge_-_Dec_2008.jpg' %>');">
  <div class="banner-content">
    <h1>CatchUps near you</h1>
    <form>
    <%= form_tag catchupevents_path, method: :get do %>
      <%= text_field_tag :query,
        params[:query],
        class: "form-control",
        placeholder: "Find your next catchup"
      %>
    <% end %>
  </form>
  </div>
</div>
<div class="container">
  <div class="row">
  <div class="row">
    <% @catchupevents.each do |catchupevent| %>
      <div class="col-xs-12 col-sm-6 col-md-3">
        <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2));">
          <div class="card-description">
          <h4 style="background-color: lightgreen">#<%= catchupevent.name %></h4>
          <p><%= catchupevent.category %></p>
          <%= link_to "See details", catchupevent_path(catchupevent), class: "btn-sm btn-primary" %>
          <%= link_to "Book now", new_catchupevent_booking_path(catchupevent), class: "btn-sm btn-danger" %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  </div>
</div>
