<div class="container-fluid">
  <div class="card-category">
    <div id= "div-1">
      <h1><%= @catchupevent.name %></h1>
      <p>~Hosted by CatchUp</p>
    </div>

  <div id="div-2">
    <div id="row1">
      <p><strong>Category:</strong> #<%=@catchupevent.category %></p>
      <p><strong>Location:</strong> <%=@catchupevent.location %></p>
      <% @start = @catchupevent.start_time.strftime('%a, %d %b %Y %H:%M') %>
      <% @end = @catchupevent.end_time.strftime('%H:%M') %>
      <p><strong>Time:</strong> <%=@start%> (<%= @duration %>h)</p>
      <p><strong>Currently booked:</strong> <%= @total_guests %>
        / <%= @catchupevent.capacity %></p>
    </div>
    <div id="row2">
      <%= image_tag @catchupevent.photo %>
    </div>
  </div>

  <div id="div-3">
    <% if @boolean == true %>
      <%= link_to "BOOKING HAS ALREADY BEEN MADE! - VIEW MY BOOKINGS", my_bookings_path, :class => 'btn btn-red btn-lg btn-block' %>
    <% else %>
      <%= link_to "BOOK NOW", new_catchupevent_booking_path(@catchupevent), :class => 'btn btn-green btn-lg btn-block' %>
    <% end %>
  </div>

  <div id="div-4" >
  <!-- <div class="container"> -->
    <div class="map-layout">
      <div class="catchupevent-description">
        <p>
          <strong>Description:</strong> <%=@catchupevent.description %>
        </p>
      </div>
      <div
        id="map"
        style="width: 300px;
        height: 300px;"
        data-markers="<%= @markers.to_json %>"
        data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
      ></div>
    </div>
  </div>
</div>
