
 <div class="container-fluid" id= "div-1">
  <h1><%= @catchupevent.name %></h1>
  <p>~Hosted by Catchup</p>
</div>

<div class="container-fluid" id="div-2">
  <table>
    <tr>
      <th id="row1">
        <p><strong>Category:</strong> <%=@catchupevent.category %></p>
        <p><strong>Location:</strong> <%=@catchupevent.location %></p>
        <% @start = @catchupevent.start_time.strftime('%a, %d %b %Y %H:%M') %>
        <% @end = @catchupevent.end_time.strftime('%H:%M') %>
        <p><strong>Duration:</strong> <%=@start%> - <%=@end%></p>
        <p><strong>Capacity:</strong> <%= @catchupevent.capacity%></p>
      </th>
      <th id="row2">
      </th>
    </tr>
  </table>
</div>

<div class="container-fluid" id="div-3">

 <%= link_to "Book now", new_catchupevent_booking_path(@catchupevent), class: "btn btn-danger btn-lg btn-block" %>
</div>
<!-- <div class="container"> -->
  <div class="map-layout">
    <div class="catchupevent-description">
      <p>
        <strong>Description:</strong> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores quisquam provident debitis modi, sed labore porro sit maxime tempore possimus eligendi praesentium obcaecati impedit voluptate quidem laudantium iure reprehenderit natus.
      </p>
    </div>
    <div
      id="map"
      style="width: 100%;
      height: 600px;"
      data-markers="<%= @markers.to_json %>"
      data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
    ></div>
  </div>
<!-- </div> -->
