<div class="container">
  <div class="row">
    <div class="col-sm-offset-2 col-sm-8">
    <% @bookings.each do |booking| %>
      <div class="card-booking">
        <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg">
        <div class="card-booking-infos">
          <% @event = booking.catchupevent %>
          <p><strong>Event: </strong><%= @event.name %></p>
          <p><strong>Location: </strong><%= @event.location %></p>
          <p><strong>Category: </strong><%= @event.category %></p>
          <p><strong>Capacity: </strong><%= @event.capacity %></p>
          <p><strong>Start time: </strong><%= @event.start_time.strftime('%I:%M %p')%></p>
          <p><strong>Duration: </strong><%= @event.duration %> Hours</p>
        </div>
      </div>
    <% end %>

    </div>
  </div>
  <%= link_to "Home", "catchupevents", class: "btn btn-gradient" %>
</div>




