<div class="container" style="text-align: center">
  <h1>My bookings</h1>
  <div class="row">
    <div class="col-sm-offset-2 col-sm-8">
    <% @bookings.each do |booking| %>
      <div class="card-booking">
        <% @catchupevent = booking.catchupevent %>
          <div class="card-header text-center">
            <h4><strong><%= @catchupevent.name %></strong></h4>
            <p><strong>Number of tickets: </strong><%= booking.number_of_guests %></p>
          </div>
          <div class="card-booking-infos">
            <p><strong>Location: </strong><%= @catchupevent.location %></p>
            <p><strong>Category: </strong><%= @catchupevent.category %></p>
            <p><strong>Current number of signups: </strong>
            <% total_guests = [] %>
            <% total_guests << booking.number_of_guests %>

            <% total_guests = total_guests.reduce(:+) %>
            <%= total_guests %>/<%= @catchupevent.capacity %></p>

            <p><strong>Start time: </strong><%= @catchupevent.start_time.strftime('%a, %d %b %Y %H:%M')%></p>

            <% @duration = (@catchupevent.end_time.to_i - @catchupevent.start_time.to_i) / 3600  %>

            <p><strong>Duration: </strong><%= @duration %> Hours</p>
        </div>
        <div class="card-photo">
          <%= cl_image_tag(@catchupevent.photo, crop: :fill) %>
        </div>
        <div class="card-btn">
          <%= link_to "GET DETAILS", catchupevent_path(@catchupevent), class: "btn btn-green" %>
        </div>
        <br>
        <div class="card-btn">
          <%= link_to "DESTROY", catchupevent_booking_path(booking.catchupevent_id, booking), method: :delete, data: { confirm: "Are you sure?!" }, class: "btn btn-red" %>
        </div>
      </div>
    <% end %>

    </div>
  </div>
</div>




